.checkout {
    padding: 50px 0;
    &__inner {
        padding: 45px 30px;
        border: 1px solid rgba(#171717, 0.3);
        background: #fff;
        border-radius: 12px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: flex-start;
    }
    &__columns {
        width: 100%;
        padding: 30px;
        border-radius: 12px;
        border: 1px solid rgba(#171717, 0.3);
    }
    &__title {
        font-size: 42px;
        font-family: "Arlon";
        margin-bottom: 50px;
    }
    &__subtitle {
        font-size: 28px;
        font-family: "Arlon";
        margin-bottom: 20px;
    }
    &__text {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &__totalcount {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &__btn {
        display: inline-block;
    }
}
