.input {
    font-family: "Raleway";
    line-height: normal;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid rgba(#171717, 0.1);
    border-radius: 3px;
    padding: 12px 20px;
    cursor: pointer;
    resize: none;

    &::placeholder {
        font-family: "Raleway";
        line-height: normal;
        font-size: 16px;
        font-weight: 400;
        color: rgba(#171717, 0.3);
    }

    &__error {
        font-size: 12px;
        font-weight: 400;
        color: rgb(255, 0, 0);
        margin-top: 5px;
        margin-left: 10px;
    }
    &__label {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}
