.restaurant {
    &__skeleton {
        text-decoration: none;
        border: 1px solid rgba(#171717, 0.3);
        background: #fff;
        border-radius: 12px;
        padding: 25px 20px;
    }

    &__skeleton_img {
        width: 100%;
        height: 200px;
        border-radius: 12px;
        background: #d6d8e1;
        margin-bottom: 15px;
    }
    &__skeleton_title {
        width: 100%;
        height: 30px;
        border-radius: 4px;
        background: #d6d8e1;
        margin-bottom: 10px;
    }
    &__skeleton_price {
        width: 30%;
        height: 30px;
        border-radius: 4px;
        background: #d6d8e1;
        margin-bottom: 20px;
    }
    &__skeleton_btn {
        width: 50%;
        height: 45px;
        border-radius: 8px;
        background: #d6d8e1;
    }
}
