.form {
    max-width: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__btn {
        max-width: 180px;
        width: 100%;
        outline: none;
        background: transparent;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
