.settings {
    padding: 50px 0;
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 100px;
    }
    &__item {
        width: 100%;
        padding: 35px 30px;
        background: #fff;
        border: 1px solid rgba(#171717, 0.2);
        border-radius: 12px;
    }
}
